* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: gold;
}

.boxSpan {
  width: 100px;
  height: 100px;
  background-color: gold;
  display: inline-block;
}
